header{
    background: black;
    color: grey;
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 0 10px rgb(209, 209, 209);
    margin-bottom: 20px;
}
label{
    margin-top: 20px;
    font-size: 45px;
    margin:auto 350px 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.toDoForm{
    display: flex;
    flex-direction: row;
}
input{
    margin: 20px;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 10px;
    width:550px;
    font-size: 20px;
}
input.placeholder{
      font-size: 24px;
}
button{
    background:rgb(67, 120, 213);
    color: white;
    border-radius: 6px;
    border:none;
    box-shadow: 2px 0 10px rgb(146, 146, 146);
    padding: 10px;
    width: fit-content;
    font-size: 16px;
}
ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
li{
    border: 1px solid grey;
    display: flex;
    align-items: center;  
    padding: 10px;
    width: 100%;
    min-width: 700px;
    height:fit-content;
}
li span{
    flex-grow: 1;
}
li.completed span{
    text-decoration: line-through;
    color: grey;
    gap:20px;
}
input[type = "checkbox"]{
    width: 16px;
    height:16px;
}

button.delete-btn{
    background:none;
    box-shadow:none;
    color: rgb(217, 22, 22);
}
button.delete-btn:hover {
    color: darkred;
}