.product-card{ 
    flex: 1 1 220px; 
    max-width: 300px; 
    border: 0.5px solid rgb(203, 203, 203); 
    text-align: left; padding: 15px; 

    display: flex;          
    flex-direction: column; 
    min-height: 500px;
} 
.product-card img{
     max-width: 150px;
     min-height: 160px;
     height: auto;
     display: block; 
     margin: 20px auto 20px ;
} 
.product-card .block-img{ 
    height: 200px; 
} 

hr{ 
    margin: 8px; 
} 

.rating .filled{ 
    color: rgb(255, 84, 17); 
} 

.rating .empty{ 
    color:lightgrey; 
} 

.price{ 
    font-size: 1.5em; 
    margin-top: auto; 
} 

.product-card a{ 
    color:rgb(42, 94, 190); 
    text-decoration: none; 
} 

.product-card .description{ 
    font-size: 14px; 
} 

header{
    border-bottom: 1px solid grey; 
    height: 40px;
    box-shadow: 5px 10px 0 grey; 
} 

.share{ 
    display: flex; 
    justify-content: end;
    gap: 2px; 
} 

.share button{
     padding: 10px; 
     border:none;
     background-color: rgb(58, 104, 197); 
     color: white; border-radius: 8px; 
}
.extra-btns{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}
#like-btn{
    background:none;
    color: red;
    width:fit-content;
    border:none;
    font-size: 20px;
}

details{
    margin-bottom: 15px;
    font-size: 15px;
}
#delete-btn{
    width: fit-content;
    background:rgb(233, 77, 77);
    border:none;
    color: white;
    border-radius: 6px;
    padding: 6px;
}