body{
    background:white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-family: "Mono-Sans", sans-serif;
    line-height: 1.5;
}
.page{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
img{
    width:46px;
    margin-left: 4px;
}
.header-left{
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: left;
}
.header-right{
    display:flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -48px;
    padding: 10px;
}

nav{
    margin-top: 3px;
}
nav a{
    text-decoration: none;
    color:#35383C;
    padding: 8px;
    font-size:14px;
    margin:0 7px;
}
nav a:hover{
    color:#5c5c5c
}
input{
    border:1px solid rgb(202, 202, 202);
    border-radius: 5px ;
    font-size:12px;
    padding:6px;
    width:270px;
}
.header-right button{
    background:white;
    border:1px solid rgb(202, 202, 202);
    border-radius: 5px ;
    font-size:12px;
    padding:6px;
    margin-right: 20px;
    margin-left:25px;
}

.inrto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;
    padding:20px;
}
.intro button{
    width:185px;
    margin:20px auto 25px;
    display: block;
    padding: 12px;
}
.intro p{
    text-align:center;
    color:#656565;
    width:61%;
    margin:auto;
    font-size:15px;
    line-height: 1.5;
}
h1{
    font-size:56px;
    text-align: center;
    font-weight: 750;
    margin-top: 80px;
 }
 .black{
    background:#35383C;
    color:white;
    border:none;
    border-radius: 6px;
    padding: 12px;
    font-size: 14px;
    width:100%;
    font-weight: bold;
    margin:20px 0 auto;
 }
  .white{
    background:white;
    border:1px solid rgb(196, 196, 196);
    border-radius: 6px;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    width:100%;
    margin:10px 0 auto;
 }
.white:hover{
    border: 2px solid black;
 }
.currency{
        font-size: 20px;
        vertical-align: top;
        color:black;
}
.amount{
    font-size: 45px;
    color:black;
}
.cur-name{
    color:black;
    font-size: 20px;
    font-weight: 500;
}
.period{
    color: grey;
    margin-top: 4px;
    font-size: 15px;
}
 .blocks{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap:24px;
    flex-wrap: nowrap;
    margin:70px 0  auto;
    justify-content: center;
 }
 .blocks p{
    color:#696969;
    font-size:12.5px;
    text-align: center;
    margin:0 auto 5px;
    width:58%;
 }
 .team, .free, .enterprise{
    width: 325px;  
    background:white;
    border: 1px solid rgb(196, 196, 196);
    box-shadow:0 30px 60px rgb(183, 183, 183);
    border-radius: 10px;
    padding: 14px;
    min-height:800px;
 }
.enterprise button{
    width:45%;
    margin: 5px;
}
.badge {
    position: relative;
   
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    background: linear-gradient(180deg, #1f6feb);
    color: white;
    border-radius: 999px;
    font-weight: 600;
    width:330px;
    height:30px;
    font-size: 13px;
}
.card-border{
    background:linear-gradient(180deg, #1f6feb, #388bfd);
    padding:6px;
    border-radius:18px;
    width:355px;
    z-index:0;
}
#starting{
    border:1px solid rgb(196, 196, 196);
    color:rgb(110, 110, 110);
    padding: 6px;
    font-size: 14px;
    border-radius: 12px;
}
.featured-ads-on{
    color:#0E72E7;
}
.more-info{
    margin-top: 25px;
}
details{
    text-align:left ;
    color:#818181;
    font-weight: bold;
    font-size: 13px;
    padding: 7px;
}
details.dropdown p{
    text-align: left;
    color:#989898;
    font-size:14px;
    font-weight:400;
    margin-left:14px;
    margin-top: 10px;
    width:90%;
}
h3{
    margin-top:5px;
    font-size:24px;
    font-weight: 700;
 }
 .footer{
    background:#35383C;
 } 
 h4{
    font-size:12px;
    text-align: left;
    margin-top:20px;
 }
 .groups{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    padding:20px;
    margin: 0 150px 150px;
 }
 .small-blocks{
    border:1px solid rgb(196, 196, 196);
    box-shadow:0 30px 60px rgba(223, 223, 223, 0.271);
    border-radius: 10px;
    padding: 30px;

    transition: transform 0.3s ;
 }
 .small-blocks:hover{
    transform: scale(1.02);
 }
h5{
    font-size:18px;
    margin:12px 0 auto;
}
p{
    color:#7b7b7b;
    font-size: 14px;
    width:80%;
}
.groups a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}


 
